body, html{
    background-color: #222222 !important;
    .btn-wrapper{display: none;}
    overflow: hidden;
}

header{
    padding: 2%;
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-items: center;

    .left{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5%;
        .logo-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #141414;
            border-radius: 1rem;
            width: 20%;
            padding: 3%;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        form{
            display: flex;
            align-items: center;
            background-color: #434343;
            padding: 2%;
            border-radius: 5rem;
            height: 1rem;

            button, input{
                background-color: transparent;
                border: none;
                font-size: 1rem;
                outline: none;
                color: white;
            }
            button:hover{cursor: pointer;}

            
        }
    }

    .right{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3%;
        margin-left: auto;
        width: 20%;
        .nav-link{
            color: white;
        }
        .profile-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1%;
            .profile-picture-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 15%;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: contain;
                }
            }
            p{
                color: white;
                cursor: pointer;
                &::after{
                    display: inline-block;
                    margin-left: .255em;
                    vertical-align: .255em;
                    content: "";
                    border-top: .3em solid;
                    border-right: .3em solid transparent;
                    border-bottom: 0;
                    border-left: .3em solid transparent;
                }
            }
        }
    }
}

nav{
    width: 20%;
    ul{

        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #ffffffb3;
            list-style: none;
            padding: 5%;
            gap: 5%;
            position: relative;
            cursor: pointer;
            .plus-icon {
              margin-left: auto;
            }
        
    
        }

    .dropdown-content {
        padding: 0;
        max-height: 0; /* Set initial height to 0 */
        overflow: hidden; /* Hide content that overflows the max-height */
        transition: max-height 1s ease-out; /* Smooth transition for height change */
        width: 100%;
        z-index: 1;    
    }
    
    .show {
        max-height: 5000px; /* Adjust the max-height to your desired value */
        transition: max-height 1s ease-in; /* Optional transition effect */
    }

    
    .dropdown-content a {
        text-decoration: none;
        display: block;
        color: #ffffffb3;
    }
    
  }
}

    




main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 98%;
    position: relative;
    overflow-y: scroll;


    .layout, .dashboard{
        width: 75%;
        border-radius: 1rem;
        background-color: #f4f5fd;
        padding-left: 2rem;
        padding-right: 2rem;

        h1{
            font-weight: 600;
            font-size: 23px;
        }

        .top-nav{
            display: flex;
            flex-direction: row;
            gap: 1%;
            align-items: center;
        }
        a{
            color: #c64d53;
        }

        .stats{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 3%;
            margin-bottom: 3%;
            .flex-box{
                width: 18%;
                background-color: white;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                align-items: left;
                padding: 1% 2%;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
                margin-bottom: 2%;
                cursor: pointer;
                .bottom{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 3%;
                    font-size: 1.5rem;
                    font-weight: 800;
                    
                }

                svg{
                    padding: 5%;
                    border-radius: 50%;
                }

                &:first-child svg{
                    background-color: #cad1f6;
                }
                &:nth-child(2) svg{
                    background-color: #c0ebfe;
                }
                &:nth-child(3) svg{
                    background-color: #fff0c5;
                }
                &:nth-child(4) svg{
                    background-color: #f5c7e4;
                }
                &:nth-child(5) svg{
                    background-color: #c2f0da;
                }
                &:nth-child(6) svg{
                    background-color: #cad1f6;
                }
                &:nth-child(7) svg{
                    background-color: #cad1f6;
                }
                &:nth-child(8) svg{
                    background-color: #c0ebfe;
                }
            }
        }

        .visualization{
            background-color: white;
            border-radius: 1rem;
            padding: 3%;
        }


        
    }

    @media(max-width: 768px){
        .dashboard{
            .stats{
                flex-direction: column;

                .flex-box{
                    width: 95%;

                    .bottom svg{
                        padding: 3%;
                    }
                }
            }
        }
        
    }

}